<form action="/login" method="post">
    <fieldset>
        <div>
            <label for="email">Email:</label>
            <input type="email" name="email" required>
        </div>

        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" required>
        </div>

        <button>Login</button>
    </fieldset>
</form>

<%= flash[:error] %>
